.root {
    background-color: #00000055;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #EEE;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-height: calc(100% - 80px);
}
