.root {
    background-color: #00000055;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal {
    background-color: #EEE;
    border-radius: 10px;
    padding: 20px;
}
