.span {
    display: inline-block;
    width: 200px;
    font-size: 14px;
}

.input {
    width: 300px;
}

.input_wide {
    font-size: 12px;
    width: 500px;
}

.input_small {
    width: 150px;
}

.grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
}

.img {
    max-width: 200px;
}
