.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
}

.wrapper .row {
    display: contents;
}

.wrapper .rowTitle span {
    position: sticky;
    top: 0;
}

.wrapper .rowTitle span {
    background: #eee;
}

.wrapper span {
    padding: 5px;
    cursor: default;
}

.row:not(.rowTitle):hover span {
    background: #ccc;
}

.row:not(.rowTitle):active span {
    background: #ddd;
}

.itemValue {
    font-family: monospace;
    text-align: right;
}
