.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
    outline: none;
}

.wrapper5 {
    grid-template-columns: 32px repeat(4, minmax(max-content, 1fr));
}

.wrapper .message {
    padding: 5px;
    margin: 0;
}

.wrapper .row {
    display: contents;
}

.wrapper .rowTitle span {
    position: sticky;
    top: 0;
    border-right: 1px solid #ccc;
}

.wrapper .rowTitle span:last-child {
    position: sticky;
    top: 0;
    border-right: none;
}

.wrapper .rowTitle span {
    background: #eee;
    padding: 5px;
    cursor: default;
}

.wrapper span {
    padding: 5px;
    cursor: default;
}

.row:not(.rowTitle):hover span {
    background: #ccc;
}

.row.rowSelected span,
.row:not(.rowTitle):active span {
    background: #ddd;
}

.itemValue {
    text-align: right;
}
