.wrapper {
    background-color: #00000055;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.modal {
    position: relative;
    background-color: #EEE;
    border-radius: 10px;
    padding: 20px;
    top: 50%;
    transform: translateY(calc(-50% - 20px));
    margin: 20px;
    max-height: calc(100% - 80px);
    max-width: calc(100% - 80px);
    display: inline-block;
    text-align: left;
}

.root {
    max-width: 350px;
}

.root input[type="password"] {
    margin-left: 8px;
}

.root label {
    align-items: center;
    display: inline-flex;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttons button {
    cursor: pointer;
    margin-left: 20px;
}

.flex {
    align-items: center;
    display: flex;
}

.flex > * {
    flex-basis: 50%;
}

.message {
    margin: 20px 0;
}

.seedPhrase {
    box-sizing: border-box;
    height: 4em;
    min-width: 350px;
    resize: none;
    width: 100%;
}

.text {
    margin-bottom: 10px;
}
