.wrapper {
    height: 100%;
}

.header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, max-content);
}

.pic {
    margin-right: 5px;
}

.pic .img {
    object-fit: cover;
    border: 1px solid #555;
    margin: 10px 0 10px 10px;
    border-radius: 5px;
    width: 75px;
    height: 75px;
}

.pic div.img {
    display: inline-block;
    padding: 10px;
}

.editLink {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
    visibility: hidden;
    color: #555;
}

:hover > .editLink {
    visibility: visible;
}

.pic .editLink {
    margin-bottom: 10px;
}

.followers {
    border-top: 1px solid #ccc;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(max-content, 1fr));
    outline: none;
}

.followers .row {
    display: contents;
}

.followers .img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.followers .row > div {
    padding: 0 5px;
}

.followers .row:first-of-type > div {
    background: #eee;
    padding: 3px 5px;
    border-right: 1px solid #ccc;
}

.txLink {
    cursor: pointer;
}
