.wrapper {
    height: 100%;
}

.wrapper button {
    margin-right: 2px;
    cursor: pointer;
}

.header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, max-content);
    background: #f9f9f9;
}

.header h2,
.header p {
    cursor: pointer;
}

.header h2 {
    margin: 10px 0 0;
}

.info h2 {
    height: 21px;
    overflow-y: auto;
}

.info button {
    cursor: pointer;
}

.info button svg {
    position: relative;
    top: 1px;
}

.header p {
    margin: 5px 0 10px;
}

.header_modal {
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.header_modal .pic {
    display: inline-block;
}

.header_modal .info {
    display: inline-block;
    margin-left: 10px;
    padding: 0 0 0 5px;
    width: calc(100% - 107px);
}

.header_modal .info h2 {
    margin: 10px 0 10px;
}

.header_modal .info h2 img {
    object-fit: cover;
    border-radius: 3px;
    width: 30px;
    height: 30px;
}

.header_modal .info h2 span {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 10px;
}

.text {
    white-space: pre-line;
    max-height: 31px;
    overflow-y: auto;
}

.header_modal .info button {
    margin-right: 2px;
}

.header_modal .followers {
    margin-bottom: 10px;
}

.posts {
    max-height: calc(100vh - 265px);
    overflow: auto;
    background: #fff;
    min-height: 10px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #f5f5f5;
    margin-top: -1px;
}

.pic {
    vertical-align: top;
    padding: 10px 5px 6px 10px;
    cursor: pointer;
}

.pic .img {
    object-fit: cover;
    border-radius: 3px;
    width: 75px;
    height: 75px;
}

.pic div.img {
    display: inline-block;
    padding: 10px;
}

.editLink {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
    visibility: hidden;
    color: #555;
}

:hover > .editLink {
    visibility: visible;
}

.body_modal {
    max-height: calc(100vh - 235px);
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    overflow: auto;
}

.followers {
    border-top: 1px solid #ccc;
    display: grid;
    max-width: 100%;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    grid-template-columns: repeat(2, 1fr);
    outline: none;
}

.body_modal .followers {
    max-height: calc(100vh - 240px);
}

.row {
    display: contents;
}

.imgWrapper img {
    position: absolute;
    display: block;
    top: 3px;
    left: 3px;
}

.followers .address {
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-word;
}

.img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.row:hover > span,
.row:hover > div {
    background: #ccc;
}

.row > span,
.row > div {
    padding: 5px;
}

.row > div.imgWrapper {
    padding: 5px 5px 5px 40px;
    min-height: 26px;
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}

.row:first-of-type > span,
.row:first-of-type > div {
    background: #eee;
    padding: 3px 5px;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

.row a {
    cursor: pointer;
}

.txLink {
    cursor: pointer;
}

.followers .noFollowers {
    padding: 10px;
    text-align: center;
    grid-column: span 3;
}

.posts .post:nth-child(2n) {
    background: #f9f9f9;
}

.post_single {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #999;
}

.post_header img {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.post_header {
    position: relative;
    padding: 10px 0 0 40px;
    height: 30px;
    font-weight: bold;
}

.header_buttons {
    display: inline-block;
    margin-left: 10px;
}

.header_buttons button {
    margin-right: 2px;
}

.time {
    font-weight: normal;
    font-size: 11px;
    color: #888;
}

.post_body {
    word-wrap: break-word;
    word-break: break-word;
    padding: 2px 5px 2px 5px;
    min-height: 21px;
}

.post_body h3 {
    margin: 5px 0;
}

.post_footer {
    padding: 5px;
}

.post_footer svg {
    margin-bottom: -2px;
    margin-right: 2px;
}

.post_footer span {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    min-width: 50px;
}

.post_footer .like_link button {
    cursor: pointer;
}

.post_footer button {
    cursor: pointer;
    margin-right: 2px;
    margin-bottom: 5px;
}

.likes_list {
    background: #fff;
    border-top: 1px solid #ccc;
    display: grid;
    max-width: 100%;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    grid-template-columns: repeat(3, 1fr);
    outline: none;
}

.likes_list button {
    cursor: pointer;
    margin-left: 5px;
}

.list_header {
    background: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
}

.list_header h2 {
    margin: 0;
}

.follows_list {
    grid-template-columns: repeat(2, 1fr);
}

.no_results {
    padding: 10px;
    text-align: center;
    grid-column: span 3;
    background: #fff;
    border-radius: 5px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #999;
    font-weight: bold;
}

.set_profile {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.set_profile input[type=text] {
    margin: 0 5px;
}

.set_profile input[type=submit] {
    cursor: pointer;
}

.post_parent_wrapper {
    background: #ddd;
    border-radius: 5px;
    padding-left: 20px;
}

.post_parent_wrapper .post {
    background: #fff;
}

.post_parent {
    margin-left: -20px;
    border-bottom: 1px solid #ddd;
}

.replies {
    background: #fff;
    border-top: 1px solid #ddd;
}

.replies .post {
    border-left: 20px solid #ddd;
}
