.container {
    height: calc(100vh - 10px);
}

.header {
    height: 30px;
    overflow-x: auto;
}

.tab {
    display: inline-block;
    border-style: solid;
    border-color: #bbb;
    border-width: 1px 1px 0 1px;
    border-radius: 5px 5px 0 0;
    margin-right: 1px;
}

.tab a {
    display: block;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 10px;
    height: 17px;
}

.tab:hover {
    background: #f5f5f5;
    border-color: #999;
}

.tab.selected {
    background: #fff;
    border-color: #999;
}

.body {
    background: #fff;
    border: 1px solid #999;
    border-radius: 0 5px 5px 5px;
    height: calc(100% - 57px);
    overflow: auto;
}

.statusBar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 5px 2px;
}

.statusIcons {
    align-items: center;
    display: flex;
}

.statusIcon {
    display: block;
    background: black;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    margin: -2px 0;
}

.statusOkay {
    background: radial-gradient(circle at 5px 5px, #8ed526, #555);
}

.statusError {
    background: radial-gradient(circle at 5px 5px, #f61313, #555);
}
