.header {
    height: 155px;
}

.header p {
    margin: 0 0 5px;
}

.input_output_box {
    background: #fff;
    border: 1px solid #999;
    font-size: 12px;
    height: calc((100vh - 245px) / 2);
    overflow-y: auto;
    white-space: nowrap;
}

.input_output_grid {
    display: grid;
    grid-template-columns: repeat(3, max-content);
}

.input_output_grid_output {
    grid-template-columns: repeat(2, max-content);
}

.input_output_box p {
    display: contents;
    margin: 0;
}

.input_output_box span {
    padding: 3px 10px;
}

.input_output_box a {
    cursor: pointer;
}

.input_output_head {
    padding-top: 4px;
    height: 19px;
}

.input_output_box p {
    margin: 2px 0;
}

.input_output_box .input_output_highlight span {
    background: #9ef18b;
}

.input_output_box .spanRight {
    text-align: right;
}

.footer {
    display: flex;
    padding-top: 7px;
    height: 23px;
}

.footerRight {
    margin-left: auto;
}
